<section id="monday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Monday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage at Bayit Event Urban Space</dd>
                    <dt>When</dt>
                    <dd>Monday, February 3, at 6:30 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Bayit Events Urban Space<br>
                            <a href="https://maps.app.goo.gl/mWV4srL2yA1U5hzt7">HaTa'asiya St 10, Raanana, Israel</a><br>
                            Phone: 097466555
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Come hungry !!
                    <dt>Parking</dt>
                    <dd>Parking is available next to the place, take your ticket and your will be paid back</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
