{% load static %}
<section id="monday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Cérémonie et Réception du Lundi</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Quoi</dt>
                    <dd>Célébrez notre mariage à Bayit Event Urban Space</dd>
                    <dt>Quand</dt>
                    <dd>Lundi, 3 février, à 18h30</dd>
                    <dt>Où</dt>
                    <dd>
                        <address>
                            Bayit Events Urban Space<br>
                            <a href="https://maps.app.goo.gl/mWV4srL2yA1U5hzt7">HaTa'asiya St 10, Raanana, Israel</a><br>
                            <span class="contact-info">
                                Phone: <a href="tel:097466555">097466555</a>
                                <!-- Google Maps Link -->
                                <a href="https://maps.google.com/?q=32.1853,34.8718" target="_blank">
                                    <img src="{% static 'bigday/images/google-maps-logo.png' %}" alt="Google Maps Logo" style="width: 24px; height: 24px; vertical-align: middle;" class="map-logo">
                                    Google Maps
                                </a>
                                <!-- Waze Link -->
                                <a href="https://waze.com/ul?ll=32.1853,34.8718&navigate=yes" target="_blank">
                                    <img src="{% static 'bigday/images/waze-logo.png' %}" alt="Waze Logo" style="width: 24px; height: 24px; vertical-align: middle;" class="map-logo">
                                    Waze
                                </a>
                            </span>
                        </address>
                    </dd>
                    <dt>Tenue</dt>
                    <dd>Cocktail. Venez affamé !!</dd>
                    <dt>Parking</dt>
                    <dd>Le parking est disponible à côté du lieu, prenez votre ticket et vous serez remboursé</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
